// ::ng-deep {
//   // .mat-dialog-title {
//   //   padding: 24px 24px 0 24px;
//   // }
//   mat-dialog-container {
//     padding: 0;
//     overflow-x: hidden;
//     overflow-y: hidden;
//   }
// }

// .install-dialog-body {
//   .mat-tab-body-content {
//     padding: 24px;
//   }
// }

.install-list-item {
  padding: 10px;
  &:first-child {
    border-radius: 8px 8px 0 0;
  }
  &:last-child {
    border-radius: 0 0 8px 8px;
  }
}
