<div fxLayout="row" class="main">
  <div fxFlex="0 1 300px" class="nav">
    <div fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="space-between" fxFill>
      <div fxLayout="column" class="nav-buttons">
        <mat-selection-list #nav [multiple]="false" fxFlex="200px" class="nav-list">
          <mat-list-option *ngFor="let item of menuItems;index as i" [value]="item" [selected]="i===0">
            <mat-icon mat-list-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
            {{item.label}}
          </mat-list-option>
        </mat-selection-list>
      </div>
      <div>
        <button mat-fab color="primary" (click)="openSettings()">
          <mat-icon>settings</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div fxFlex="100%" class="content">
    <app-content [current]="current"></app-content>
  </div>
</div>