@use '~@angular/material' as mat;
@import '../../../theme/secondary';
$godot-hub-accent: mat.define-palette($secondary, A200, A100, A400);

button.main-option {
  border-radius: 4px 0 0 4px;
  border-right: solid 1px map-get($godot-hub-accent, A100);
}

button.extra-options {
  border-radius: 0 4px 4px 0;
}
