@use '~@angular/material' as mat;
@import '../../../theme/secondary';
$godot-hub-accent: mat.define-palette($secondary, A200, A100, A400);

.version {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;

  &.selected {
    background-color: lighten($color: map-get($godot-hub-accent, 500), $amount: 5);
  }
}
